As a senior golang engineer, write a production-ready gRPC API service that implements the service described in the file `hello.proto` that has the following content:

``` {{ template "./hello/hello.proto" }} ```

The service main file must be named `main.go` under the folder `cmd`, with the package name `main`.
Each service method must be implemented in its own file, under the folder `hello`, with the package name `hello` and filename as the method name.
The service must be able to be run with the command `go run hello.go`.
The service should listen on port 8080 if the environment variable `PORT` is not defined. Otherwise should run in the port defined by the environment variable `PORT`

You have to comply with the following requirements:
{{ template "./common/code-rules.tmpl" }}