As a senior golang engineer, write a gRPC API service that implements the service described in the file `hello.proto` that has the following content:

``` {{ template "./hello/hello.proto" }} ```

The service must be implemented in the file `hello.go`.
The service must be able to be run with the command `go run hello.go`.
The service should listen on port 8080 if the environment variable `PORT` is not defined. Otherwise should run in the port defined by the environment variable `PORT`

